In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame(([1,2,3],[4,5,6],[7,8,9]),columns=["A","B","C"])

In [15]:
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [14]:
df.tail(2)

   A  B  C
1  4  5  6
2  7  8  9

In [11]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [12]:
df.info

<bound method DataFrame.info of    A  B  C
0  1  2  3
1  4  5  6
2  7  8  9>

In [16]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [20]:
df['C'].unique()

array([3, 6, 9], dtype=int64)